{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "loose": true,
                "shippedProposals": true
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        [
            "@babel/plugin-transform-react-jsx",
            {
                "runtime": "automatic"
            }
        ]
    ]
}
