@import "accordions";
@import "avatar";
@import "borders";
@import "card";
@import "button";
@import "tab";
@import "dropdown";
@import "form";
@import "loader";
@import "alerts";
@import "badges";
@import "modals";
@import "popover";
@import "rating";
@import "search";
@import "customizer";
@import "carousel";
@import "progress";
@import "tabs";
